.sidebar_box {
  padding: 1.5rem;
  border-bottom: 1px solid var(--icons-color);
}

.sidebar_closeBtn {
  position: absolute;
  right: 2rem;
  top: 3rem;
  transition: all 0.2s ease-in;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.sidebar_closeBtn {
  transform: rotate(45deg);
}

.sidebar_box p {
  margin-top: -2rem;
}

.sidebar_socials {
  display: flex;
  gap: 1.3rem;
  font-size: 1.5rem;
  align-items: center;
}

.sidebar_socials a {
  padding: 0.2rem;
  border-radius: 50%;
  transition: all 0.3s ease-in;
  display: grid;
}
.sidebar_socials a:hover {
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  box-shadow: 1px solid var(--icons-color);
}

.sidebar_menu {
  padding: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 1px solid var(--icons-color);
  gap: 1.5rem;
}

.sidebar_menu_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1rem 0;
}

.button {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
